  <!-- home section -->
        <section class="bg-green-50 mb-20 md:mb-52 xl:mb-72">

            <div class="container max-w-screen-xl mx-auto px-4">
                <nav class="flex-wrap lg:flex items-center py-14 xl:relative" data-controller="menu">
                    <div class="flex items-center justify-between mb-10 lg:mb-0">
                        <img src="assets/navbar-logo.png" alt="Logo img" class="w-52 md:w-80">
                        <button class="lg:hidden w-10 h-10 ml-auto flex items-center justify-center text-green-700 border border-green-700 rounded-md" data-action="menu#buttonClick">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                        <ul class="lg:flex flex-col lg:flex-row lg:items-center lg:mx-auto lg:space-x-8 xl:space-x-16" data-menu-target="menus" hidden>
                            <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                                <a href="#">Lhasamomo</a>
                            </li>
                            <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                                <a href="#">Post</a>
                            </li>
                            <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                                <a href="#service" class="scroll-smooth">Service</a>
                            </li>
                            <li class="font-semibold text-gray-900 text-lg hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                                <a href="#">About</a>
                            </li>
                        </ul>
                        <button class="px-5 py-3 lg:block border-2 border-green-700 rounded-lg font-semibold text-green-700 text-lg hover:bg-green-700 hover:text-white transition ease-linear duration-500" data-menu-target="menus" hidden>
                            <a href="#contact" class="scroll-smooth">Contact</a>
                        </button>
                </nav>

                <div class="flex items-center justify-center xl:justify-start">
                    <div class="mt-28 text-center xl:text-left">
                        <h1 class="font-semibold text-4xl md:text-6xl lg:text-7xl text-gray-900 leading-normal mb-6">Entdecken sie<br>jetzt</h1>
                        <p class="font-normal text-xl text-gray-400 leading-relaxed mb-12">Die beste Tibetische Kuche von unsre eigene Rezepte <br> in der Schweiz</p>
                        <button class="px-6 py-4 bg-green-700 text-white font-semibold text-lg rounded-xl hover:bg-green-900 transition ease-in-out duration-500">Menu</button>
                    </div>
                    <div class="hidden xl:block xl:absolute z-0 top-52 right-20">
                        <img src="assets/home-img.png" alt="Home img" class="rounded-xl">
                    </div>
                </div>
            </div> <!-- container.// -->

        </section>
        <!-- home section //nd -->
        <!-- feature section -->
        <section class="bg-green-50 py-10 md:py-16 xl:relative">
            <div class="container max-w-screen-xl mx-auto px-4">
            <div class="flex flex-col xl:flex-row justify-end">
                    <div class="hidden xl:block xl:absolute left-0 bottom-0 w-full" id="service">
                        <img src="assets/feature-img.png" alt="Feature img">
                    </div>
                    <div>
                        <h1 class="font-semibold text-gray-900 text-xl md:text-4xl text-center leading-normal mb-6">Unsere Dienstleistungen</h1>
                        <p class="font-normal text-gray-400 text-md md:text-xl text-center mb-16">Wir suchen immer für unsre Foodtruck Platz,zb. Mittagstisch, Catering <br> Street Food Festival und für Private Party usw.</p>
                        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
                            <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                                <i class="fa fa-cutlery text-green-900" aria-hidden="true"></i>
                            </div>
                            <div class="text-center md:text-left">
                                <h4 class="font-semibold text-gray-900 text-2xl mb-2">Streetfoodfestivals</h4>
                                <p class="font-normal text-gray-400 text-xl leading-relaxed">Wir sind an zahlreichen Streetfoodfestivals <br> der Schweiz vertreten</p>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4 mb-20">
                            <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                                <i class="fa fa-shopping-basket text-green-900" aria-hidden="true"></i>
                            </div>
                            <div class="text-center md:text-left">
                                <h4 class="font-semibold text-gray-900 text-2xl mb-2">Catering Service</h4>
                                <p class="font-normal text-gray-400 text-xl leading-relaxed">Das Menu passen wir individuell deinen Wünschen an</p>
                            </div>
                        </div>
                        <div class="flex flex-col md:flex-row justify-center xl:justify-start space-x-4">
                            <div class="px-8 h-20 mx-auto md:mx-0 bg-gray-200 rounded-lg flex items-center justify-center mb-5 md:mb-0">
                                <i class="fa fa-truck text-green-900" aria-hidden="true"></i>
                            </div>
                            <div class="text-center md:text-left">
                                <h4 class="font-semibold text-gray-900 text-2xl mb-2">Foodtruck </h4>
                                <p class="font-normal text-gray-400 text-xl leading-relaxed">Wir sind jeden Montag im Freilager Zürich<br>Flurstrasse 62 8048 Zürich</p>
                            </div>
                        </div>
                    </div>
            </div>

            </div> <!-- container.// -->

        </section>
        <!-- feature section //end -->
        <!-- gallery section -->
        <section class="bg-green-50 py-10 md:py-16">
            <div class="container max-w-screen-xl mx-auto px-4">
                <h1 class="font-semibold text-gray-900 text-4xl text-center mb-10">Our Food</h1>
                <div class="flex space-x-4 md:space-x-6 lg:space-x-8">
                    <div>
                        <img src="assets/gallery-1.png" alt="image" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="assets/gallery-4.png" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>
                    <div>
                        <img src="assets/gallery-2.png" alt="image" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="assets/gallery-5.png" alt="image" class="mb-3 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="assets/gallery-6.png" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>
                    <div>
                        <img src="assets/gallery-3.png" alt="image" class="mb-4 md:mb-6 lg:mb-8 hover:opacity-75 transition ease-in-out duration-500">
                        <img src="assets/gallery-7.png" alt="image" class="hover:opacity-75 transition ease-in-out duration-500">
                    </div>
                </div>

            </div> <!-- container.// -->

        </section>
        <!-- gallery section //end -->

        <!-- testimoni section -->
        <section class="bg-green-50 py-10 md:py-16">

            <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

                <h1 class="font-semibold text-gray-900 text-4xl text-center mb-10">Our Team</h1>

                <div class="flex flex-col md:flex-row md:items-center justify-center md:space-x-8 lg:space-x-12 mb-10 md:mb-20">
                    <div class="bg-green-100 rounded-lg mb-10 md:mb-0">
                        <img src="assets/teamnumber-1.png" alt="Image" class="mx-8 my-8">

                         <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Tsering Dorjee</h3>
                    </div>

                    <div class="bg-green-100 rounded-lg">
                        <img src="assets/teamnumber-2.png" alt="Image" class="mx-8 my-8">

                        <h3 class="font-semibold text-gray-900 text-xl md:text-2xl lg:text-3xl mx-8 mb-8">Migmar Dolma</h3>
                    </div>

                </div>

            </div> <!-- container.// -->

        </section>
        <!-- testimoni section //end -->

         <section class="bg-green-50 py-10 md:py-16">

            <div class="container max-w-screen-xl mx-auto px-4 xl:relative">

                <div class="bg-green-700 flex flex-col lg:flex-row items-center justify-evenly py-14 rounded-3xl">

                    <div class="hidden md:block xl:relative text-center mb-10 lg:mb-0" id="contact">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2701.4347054878804!2d8.49189361586603!3d47.38395061132475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47900bcc60398717%3A0x21ae183506f90d82!2sFlurstrasse%2062%2C%208048%20Z%C3%BCrich!5e0!3m2!1sen!2sch!4v1651236437860!5m2!1sen!2sch" width="500" height="350"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="rounded-lg"></iframe>

                        <p class="font-normal text-white mt-2 text-md md:text-xl">Flurstrasse 62 8048 Zürich</p>
                    </div>

                    <div class="md:block bg-white xl:relative px-6 py-3 rounded-3xl">
                        <div class="py-3">
                            <h3 class="font-semibold text-gray-900 text-3xl text-center">Contact Us</h3>
                        </div>

                        <div class="py-3">
                            <input type="text" placeholder="Full Name" class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">
                        </div>

                        <div class="py-3">
                            <input type="text" placeholder="Email" class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">
                        </div>

                        <div class="py-3 relative">
                            <textarea type="text" class="px-4 py-4 w-96 bg-gray-100 placeholder-gray-400 rounded-xl outline-none">
                              </textarea>
                        </div>

                        <div class="py-3">
                            <button class="w-full py-4 font-semibold text-lg text-white bg-green-700 rounded-xl hover:bg-green-900 transition ease-in-out duration-500">Send</button>
                        </div>
                    </div>

                </div>

            </div> <!-- container.// -->

        </section>
        <!-- book section //end -->

        <!-- footer -->
        <footer class="bg-green-900 py-10 md:py-16">

            <div class="container max-w-screen-xl mx-auto px-4">

                <div class="flex flex-col lg:flex-row justify-between">
                    <div class="text-center lg:text-left mb-10 lg:mb-0 flex">
                        <div class="flex items-center justify-center lg:justify-start space-x-5">
                            <div class="flex items-center justify-between mb-10 lg:mb-0">
                              <img src="assets/navbar-logo.png" alt="Logo img" class="w-52 md:w-80">
                            </div>

                            <a href="https://www.facebook.com/profile.php?id=100012619264996" class="px-3 py-3 text-white text-2xl rounded-full hover:text-gray-400 transition ease-in-out duration-500">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="https://instagram.com/2021_taste_of_tibet_wok_?igshid=YmMyMTA2M2Y=" class="px-3 py-3 text-white text-2xl rounded-full hover:text-gray-400 transition ease-in-out duration-500">
                              <i class="fa fa-instagram"></i>
                            </a>

                            <a href="#" class="px-3 py-3 text-white text-2xl rounded-full hover:text-gray-400 transition ease-in-out duration-500">
                              <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-gray-400 rounded-full mt-8 hover:text-gray-200 transition ease-in-out duration-500 items-center">
                        <p>© Copyright 2022 Lhasamomo</p>
                    </div>
                </div>

            </div> <!-- container.// -->

        </footer>
        <!-- footer //end -->
